@import "font-awesome.min.css";
@import "fa-viber.css";
@import "../js/fancybox/jquery.fancybox.css";
@import "../js/ui/jquery-ui.min.css";
@import "../js/owlcarousel/assets/owl.carousel.min.css";
@import "../js/owlcarousel/assets/owl.theme.default.min.css";
@import "FuturaPT.css";
.block.block_1 {
  padding: 0;
}
#owl_1 .owl-nav {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -20px;
}
#owl_1 .owl-nav .owl-prev,
#owl_1 .owl-nav .owl-next {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 28px;
}
#owl_1 .owl-nav .owl-prev:hover,
#owl_1 .owl-nav .owl-next:hover {
  color: #d7345e;
  background: rgba(255, 255, 255, 0.2);
}
#owl_1 .owl-nav .owl-prev {
  left: 20px;
}
#owl_1 .owl-nav .owl-next {
  right: 20px;
}
#owl_1 .owl-dots {
  margin: 0;
  position: absolute;
  bottom: 60px;
  left: 0;
  width: 100%;
  text-align: center;
}
#owl_1 .owl-dots .owl-dot {
  margin: 0 5px;
  padding: 8px;
  border-radius: 50%;
  border: 1px solid transparent;
}
#owl_1 .owl-dots .owl-dot span {
  border: 1px solid rgba(255, 255, 255, 0.4);
  background: transparent;
  width: 8px;
  height: 8px;
  margin: 0;
  border-radius: 50%;
}
#owl_1 .owl-dots .owl-dot.active {
  border: 1px solid rgba(255, 255, 255, 0.4);
}
#owl_1 .owl-dots .owl-dot.active span {
  background: #ff2d55;
  border-color: #ff2d55;
}
#owl_4 .owl-nav {
  margin: 0;
  position: absolute;
  width: 100%;
  top: 50%;
  margin-top: -34px;
}
#owl_4 .owl-nav .owl-prev,
#owl_4 .owl-nav .owl-next {
  position: absolute;
  margin: 0;
  padding: 0;
  width: 68px;
  height: 68px;
  line-height: 68px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 30px;
}
#owl_4 .owl-nav .owl-prev:hover,
#owl_4 .owl-nav .owl-next:hover {
  border-color: rgba(255, 255, 255, 0.9);
}
#owl_4 .owl-nav .owl-prev {
  left: -120px;
}
#owl_4 .owl-nav .owl-next {
  right: -120px;
}
.inline_block {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}
* {
  font-size: 1em;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
label,
legend,
caption {
  border: 0px;
  margin: 0px;
  outline: 0px;
  padding: 0px;
}
html,
body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
}
html {
  overflow-y: scroll;
}
body {
  margin: 0;
  padding: 0;
  font-family: "Futura PT", sans-serif;
  font-size: 14px;
  line-height: 16px;
  color: #fff;
  background: #000;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
a {
  color: #fff;
  text-decoration: underline;
}
a:hover {
  text-decoration: none;
}
article,
.article {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
article p,
.article p {
  margin-bottom: 20px;
}
article ul,
.article ul,
article ol,
.article ol {
  margin-left: 20px;
  margin-bottom: 20px;
}
article h1,
.article h1,
article h2,
.article h2,
article h3,
.article h3 {
  margin-bottom: 20px;
  line-height: 1.2em;
}
article h1,
.article h1 {
  font-size: 28px;
}
article h2,
.article h2 {
  font-size: 24px;
}
article h3,
.article h3 {
  font-size: 20px;
}
article table,
.article table {
  margin-bottom: 20px;
  border-collapse: collapse;
}
article table th,
.article table th,
article table td,
.article table td {
  padding-right: 20px;
}
article table th,
.article table th {
  text-align: left;
}
article u,
.article u {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
select,
textarea {
  border: 1px solid #ccc;
  font-family: "Futura PT", sans-serif;
  background: #fff;
}
input[type="text"]:focus,
input[type="password"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus,
input[type="number"]:focus,
input[type="date"]:focus,
select:focus,
textarea:focus {
  outline: none;
  border-color: #d7345e;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 40px #fff inset !important;
}
input:-webkit-autofill {
  -webkit-text-fill-color: #d7345e !important;
}
input[type="submit"],
input[type="button"],
button {
  background: #d7345e;
  box-sizing: border-box;
  border-radius: 20px;
  height: 40px;
  padding: 0 30px;
  cursor: pointer;
  color: #fff;
  font-size: 14px;
  font-family: "Futura PT", sans-serif;
  font-weight: 700;
  border: 0;
  text-transform: uppercase;
  -webkit-appearance: none;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  background: rgba(215, 52, 94, 0.9);
}
input[type="submit"]:focus,
input[type="button"]:focus,
button:focus {
  outline: none;
}
label.label_0 {
  display: none !important;
}
sup {
  font-size: 70%;
  line-height: 0;
}
a.button {
  display: inline-block;
  background: #d7345e;
  box-sizing: border-box;
  line-height: 58px;
  border-radius: 29px;
  padding: 0 55px;
  color: #fff;
  text-decoration: none;
  font-size: 16px;
  letter-spacing: 0.12em;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}
a.button:hover {
  background: #fff;
  color: #d7345e;
}
a.button:before {
  content: "";
  display: block;
  width: calc(100% + 20px);
  height: calc(100% + 20px);
  position: absolute;
  top: -10px;
  left: -10px;
  border-radius: 40px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  animation: radial-pulse 1s infinite;
}
@keyframes radial-pulse {
  0% {
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
  }
}
#more a {
  display: block;
  line-height: 40px;
  border: 2px solid #d7345e;
  background: #d7345e;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
#more a:hover {
  color: #d7345e;
  background: #fff;
}
.bc {
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 300;
}
.bc a {
  text-decoration: none;
}
.bc a:hover {
  color: #d7345e;
}
.page_top {
  background: url("../images/header_inside.jpg") top center;
  height: 250px;
  box-sizing: border-box;
  padding-top: 70px;
  margin-bottom: 70px;
}
.page_title {
  margin-bottom: 30px;
}
.page_title h1,
.page_title .h1 {
  font-size: 44px;
  line-height: 50px;
  font-weight: 500;
}
.clear {
  clear: both;
}
.left {
  float: left;
}
.right {
  float: right;
}
.mess_err,
.error {
  color: #ff2d55;
  font-weight: bold;
}
.mess_ok,
.success {
  color: #444444;
  font-weight: bold;
}
.wrap {
  width: 1185px;
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
}
#body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100%;
  height: auto;
  background: url("../images/bg_bottom.svg") #000 no-repeat center bottom;
  background-blend-mode: luminosity;
}
#middle {
  height: auto;
  position: relative;
  padding-bottom: 450px;
  padding-top: 20px;
}
#left {
  float: left;
  width: 280px;
}
#content {
  float: right;
  width: 1185px;
  position: relative;
  padding: 0;
}
#right {
  float: right;
  width: 0px;
  margin-left: 20px;
}
.block {
  padding: 50px 0;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  box-sizing: border-box;
  position: relative;
}
.block .title {
  font-size: 44px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 0.02em;
}
.block .title a {
  color: #000;
  text-decoration: none;
}
.block .title a:hover {
  color: #d7345e;
}
.block .block_announce {
  text-align: center;
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.04em;
  font-weight: 300;
  margin-bottom: 30px;
}
.block .block_announce a {
  text-decoration: none;
  color: #d7345e;
  border-bottom: 1px solid rgba(215, 52, 94, 0.5);
}
.block .block_announce a:hover {
  border-color: transparent;
}
.block .all {
  text-align: center;
}
.block .all a {
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #d7345e;
  font-weight: 700;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(215, 52, 94, 0.5);
}
.block .all a:hover {
  border-color: transparent;
}
.rows {
  text-align: center;
}
.rows .item {
  display: inline-block;
  vertical-align: top;
}
.rows .item .photo,
.rows .item .name {
  margin-bottom: 15px;
}
.rows .item .photo {
  position: relative;
}
.rows .item .photo .date {
  position: absolute;
  z-index: 20;
  background: rgba(215, 52, 94, 0.7);
  color: #fff;
  padding: 10px;
  left: 0;
  top: 20px;
}
.rows .item .date {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 10px;
}
.rows .item .name {
  font-size: 18px;
  line-height: 20px;
}
.rows .item .name a {
  text-decoration: none;
  color: #000;
}
.rows .item .name a:hover {
  color: #d7345e;
}
.rows .item .more a {
  display: inline-block;
  border: 1px solid #d7345e;
  text-transform: uppercase;
  line-height: 40px;
  padding: 0 35px;
  text-decoration: none;
}
.rows .item .more a:hover {
  color: #fff;
  background: #d7345e;
}
.pages {
  padding: 20px 0px;
}
.pages ul {
  list-style: none;
  text-align: center;
}
.pages ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px;
}
.pages ul li a,
.pages ul li span {
  display: inline-block;
  padding: 5px;
  border-bottom: 2px solid transparent;
}
.pages ul li a {
  text-decoration: none;
}
.pages ul li span,
.pages ul li a:hover {
  color: #000;
  border-color: #d7345e;
}
.popup_page {
  padding: 40px;
}
.popup_page h1 {
  text-align: center;
  font-size: 35px;
}
#back_top {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: #d7345e;
  opacity: 0.7;
  z-index: 20000;
  -webkit-transition: 1s;
  -moz-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
#back_top:hover {
  opacity: 1;
}
#back_top a {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  font-size: 25px;
  color: #fff;
}
.termins .termins_letter {
  font-size: 1.5em;
  line-height: 1.6em;
  font-weight: bold;
}
.termins .termins_letter_container {
  margin-bottom: 1.5em;
}
.termins .termins_letter_container .termin_item {
  width: 30%;
  float: left;
  padding-bottom: 0.4em;
}
aside .article_item .article_item_photo,
aside .article_item .article_item_text {
  float: none;
  width: 100%;
}
.tabs .navigation {
  margin-bottom: 30px;
}
.tabs .navigation ul {
  list-style: none;
  border-bottom: 2px solid #d7345e;
}
.tabs .navigation ul li {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 5px);
  color: #fff;
  line-height: 58px;
  font-size: 16px;
  cursor: pointer;
  letter-spacing: 0.12em;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0 55px;
  box-sizing: border-box;
}
.tabs .navigation ul li.active {
  background: #d7345e;
  cursor: default;
}
.tabs .contents .tab {
  display: none;
}
.tabs .contents .tab .article {
  font-size: 20px;
  line-height: 35px;
  letter-spacing: 0.04em;
}
.tabs .contents .tab.active {
  display: block;
}
.tabs .tabtitle {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #ccc;
  position: relative;
}
.tabs .tabtitle i {
  position: absolute;
  top: 15px;
  right: 10px;
  color: #ccc;
}
.version_desktop a,
.version_mobile a {
  display: block;
  text-align: center;
  background: #d7345e;
  line-height: 40px;
  text-transform: uppercase;
  color: #fff;
  text-decoration: none;
}
.version_desktop a:hover,
.version_mobile a:hover {
  background: rgba(215, 52, 94, 0.8);
}
.cookie_policy {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 20px 100px;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  line-height: 30px;
}
.cookie_policy a {
  display: inline-block;
  padding: 0 15px;
  margin-left: 15px;
  background: #d7345e;
  color: #fff;
  border: 2px solid #d7345e;
  box-sizing: border-box;
  text-decoration: none;
}
.cookie_policy a i {
  margin-right: 5px;
}
.cookie_policy a:hover {
  background: #fff;
  color: #d7345e;
}
.edit_links {
  padding: 20px 0 10px;
}
.edit_links a {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 10px 0;
  line-height: 30px;
  border: 2px solid #ff2d55;
  background: #ff2d55;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 0 20px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-decoration: none;
}
.edit_links a:hover {
  color: #ff2d55;
  background: #fff;
}
.block .edit_links {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0;
  z-index: 100;
}
.block .edit_links a {
  margin: 0 0 0 20px;
}
aside .block .edit_links {
  opacity: 0.1;
}
aside .block .edit_links a {
  display: block;
  margin: 0 0 10px 0;
}
aside .block .edit_links:hover {
  opacity: 1;
}
.rules {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 15px;
}
.rules a {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgba(215, 52, 94, 0.5);
}
.rules a:hover {
  border-color: transparent;
}
.strike {
  text-decoration: line-through;
}
header {
  padding: 40px 0;
}
header .wrap {
  width: 100%;
  max-width: 1600px;
  padding: 0 10px;
}
header .logo {
  float: left;
  padding-top: 20px;
}

header .logo a {
  display: block;
}
header .logo a img {
  display: inline-block;
}
header .center {
  float: left;
  margin-left: 50px;
}
header .right {
  float: right;
  text-align: center;
  margin-left: 80px;
}
header .address,
header .lk {
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 25px;
}
header .address {
  text-align: right;
  color: #9e9e9e;
}
header .lk a {
  background: url("../images/icon_user.svg") no-repeat center left;
  padding-left: 25px;
  color: #9e9e9e;
  text-decoration: none;
}
header .lk a:hover {
  color: #fff;
}
header nav {
  float: left;
}
header nav ul {
  list-style: none;
}
header nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
  letter-spacing: 0.11em;
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
}
header nav ul li a {
  text-decoration: none;
  display: block;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
}
header nav ul li.active > a,
header nav ul li a:hover {
  border-color: #d7345e;
}
header .phone {
  float: right;
  text-align: center;
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
  border-bottom: 3px solid #d7345e;
  text-decoration: none;
  padding-bottom: 5px;
}
header .phone span {
  font-size: 18px;
  line-height: 20px;
  font-weight: 300;
  display: block;
  margin-bottom: 5px;
}
header .phone a {
  font-size: 18px;
  line-height: 20px;
  font-weight: 450;
  border-bottom: 3px solid #d7345e;
  text-decoration: none;
  padding-bottom: 5px;
}
header .phone a:hover {
  border-color: #fff;
}
footer {
  position: absolute;
  bottom: 0;
  height: 450px;
  width: 100%;
  box-sizing: border-box;
}
footer .wrap {
  width: 100%;
  max-width: 1600px;
  padding: 0 10px;
}
footer a {
  text-decoration: none;
}
footer .footer,
footer .bottom {
  border-top: 1px solid #2b2b2b;
  padding: 40px 0;
}
footer .footer nav {
  float: left;
  margin-left: 40px;
}
footer .footer nav ul {
  list-style: none;
}
footer .footer nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 150px;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
}
footer .footer nav ul li a {
  display: block;
  margin-bottom: 20px;
  color: #d7345e;
}
footer .footer nav ul li.active > a,
footer .footer nav ul li a:hover {
  color: #fff;
}
footer .footer nav ul li ul li {
  display: block;
  margin-right: 0;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 400;
}
footer .footer nav ul li ul li a {
  color: #fff;
  margin: 0;
}
footer .footer nav ul li ul li.active > a,
footer .footer nav ul li ul li a:hover {
  color: #d7345e;
}
footer .footer .contacts {
  float: left;
}
footer .footer .contacts .phone {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
footer .footer .contacts .call {
  padding-top: 15px;
  margin-bottom: 25px;
}
footer .footer .contacts .call a {
  color: #d7345e;
  text-decoration: none;
  border: 0;
  border-bottom: 1px solid rgba(215, 52, 94, 0.5);
  background: none;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.12em;
  border-radius: 0;
}
footer .footer .contacts .call a:hover {
  color: #fff;
  border-color: #fff;
}
footer .footer .contacts .social a {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 0 0;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 50%;
  font-size: 20px;
  background-position: center center;
  background-repeat: no-repeat;
}
footer .footer .contacts .social a.telegram i,
footer .footer .contacts .social a.vk i,
footer .footer .contacts .social a.whatsapp i {
  display: none;
}
footer .footer .contacts .social a.telegram:hover,
footer .footer .contacts .social a.vk:hover,
footer .footer .contacts .social a.whatsapp:hover {
  opacity: 0.9;
}
footer .footer .contacts .social a.telegram {
  background-image: url("../images/icon_telegram.svg");
}
footer .footer .contacts .social a.vk {
  background-image: url("../images/icon_vk.svg");
}
footer .footer .contacts .social a.whatsapp {
  background-image: url("../images/icon_whatsapp.svg");
}
footer .bottom {
  text-align: center;
  color: #9d9d9d;
  font-size: 14px;
  line-height: 25px;
}
.catalog .item {
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 25px);
  margin: 0 20px 20px 0;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  text-align: center;
}
.catalog .item > a {
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 25px 25px 0 0;
  overflow: hidden;
}
.catalog .item > a picture,
.catalog .item > a img {
  display: block;
  max-width: 100%;
}
.catalog .item > a span {
  display: block;
}
.catalog .item > a .over {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 29.11%, #111 100%);
}
.catalog .item > a .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  box-sizing: border-box;
}
.catalog .item > a .name {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.catalog .item > a .params .it {
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 5px);
  text-align: left;
}
.catalog .item > a .params .it .nm {
  color: #9d9d9d;
  font-size: 14px;
  line-height: 20px;
}
.catalog .item > a .params .it .val {
  color: #fff;
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.catalog .item .order {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 0 30px;
  background: #111111;
  border-radius: 0 0 25px 25px;
  z-index: 10;
}
.catalog .item .order a {
  display: block;
  border-top: 1px solid transparent;
  color: #d7345e;
  font-size: 16px;
  line-height: 20px;
  padding: 20px 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
}
.catalog .item:hover {
  overflow: visible;
  border-radius: 25px 25px 0 0;
}
.catalog .item:hover .order a {
  border-color: #2b2b2b;
}
.catalog_page .aside,
.detail_catalog .aside,
.articles_page .aside {
  float: left;
  width: 280px;
}
.catalog_page .section,
.detail_catalog .section,
.articles_page .section {
  float: right;
  width: calc(100% - 300px);
}
.now {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
  margin-bottom: 25px;
}
.now .title {
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 25px;
}
.now .title a,
.now .title span {
  display: inline-block;
}
.now .title span {
  float: left;
  font-size: 16px;
  text-transform: uppercase;
}
.now .title a {
  float: right;
  font-size: 14px;
  color: #d7345e;
  text-decoration: none;
}
.now .title a:hover {
  color: #fff;
}
.now .title:after {
  content: "";
  display: block;
  clear: both;
}
.now .item {
  margin-bottom: 15px;
}
.now .item .photo {
  float: left;
  width: 70px;
}
.now .item .photo a {
  display: block;
}
.now .item .photo a img {
  display: block;
  max-width: 100%;
  border-radius: 50%;
}
.now .item .text {
  float: right;
  width: calc(100% - 90px);
  padding-top: 15px;
}
.now .item .text .name {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.now .item .text .name a {
  text-decoration: none;
}
.now .item .text .name a:hover {
  color: #d7345e;
}
.now .item .text .age {
  font-size: 14px;
  line-height: 20px;
}
.filters {
  background: rgba(255, 255, 255, 0.1);
  padding: 30px;
  border-radius: 20px;
}
.filters .filter .name {
  display: none;
}
.filters .filter .vars label {
  display: block;
  font-size: 12px;
  line-height: 20px;
  margin-bottom: 10px;
  font-weight: 300;
  text-transform: uppercase;
}
.filters .filter .vars label input[type="checkbox"] {
  accent-color: #d7345e;
}
.catalog_sub .sub {
  margin-bottom: 70px;
}
.catalog_sub .sub .title {
  font-size: 34px;
  line-height: 40px;
  font-weight: 500;
  margin-bottom: 30px;
}
.catalog_sub .sub .title a {
  text-decoration: none;
}
.catalog_sub .sub .title a:hover {
  color: #d7345e;
}
.detail_catalog .top {
  margin-bottom: 50px;
}
.detail_catalog .top .photo {
  margin-bottom: 20px;
}
.detail_catalog .top .photo a {
  display: block;
}
.detail_catalog .top .photo a img {
  max-width: 100%;
  border-radius: 20px;
}
.detail_catalog .order {
  margin-left: 10px;
  text-align: center;
}
.detail_catalog .order a {
  line-height: 40px;
  position: relative;
  padding: 0 30px;
  font-size: 14px;
}
.detail_catalog .order a:after {
  content: "";
  display: block;
  width: calc(100% + 14px);
  height: calc(100% + 14px);
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: -8px;
  left: -8px;
}
.detail_catalog .order a:hover:after {
  border-color: #fff;
}
.detail_catalog .online {
  margin-bottom: 30px;
}
.detail_catalog .online span {
  display: inline-block;
  line-height: 30px;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.2);
  padding: 0 10px;
}
.detail_catalog .online span:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 10px;
  height: 10px;
  background: #d7345e;
  border-radius: 50%;
  margin-right: 10px;
}
.detail_catalog .params {
  border-top: 1px solid #2b2b2b;
  border-bottom: 1px solid #2b2b2b;
  margin-bottom: 30px;
  padding: 30px 0;
}
.detail_catalog .params .it {
  display: inline-block;
  vertical-align: top;
  width: calc(25% - 5px);
}
.detail_catalog .params .it .nm {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  color: #d7345e;
}
.detail_catalog .params .it .val {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.detail_catalog .section {
  width: calc(100% - 360px);
}
.detail_catalog .section .title {
  font-size: 24px;
  line-height: 30px;
  font-weight: 500;
  margin-bottom: 15px;
}
.detail_catalog .section .title i {
  margin-left: 10px;
  display: inline-block;
  background: #d7345e;
  padding: 0 10px 0 30px;
  border-radius: 15px;
  font-size: 12px;
  font-weight: 400;
  position: relative;
}
.detail_catalog .section .title i:before {
  content: "";
  display: inline-block;
  width: 14px;
  height: 18px;
  position: absolute;
  top: 6px;
  left: 10px;
  background: url("../images/icon_hot.svg") no-repeat center center;
}
.detail_catalog .section .title a,
.detail_catalog .section .title span {
  display: inline-block;
}
.detail_catalog .section .title span {
  float: left;
}
.detail_catalog .section .title a {
  float: right;
  text-decoration: none;
  font-size: 14px;
  color: #d7345e;
  border-bottom: 1px solid rgba(215, 52, 94, 0.5);
  font-weight: 700;
  text-transform: uppercase;
}
.detail_catalog .section .title a:hover {
  border-color: transparent;
}
.detail_catalog .section .title:after {
  content: "";
  display: block;
  clear: both;
}
.detail_catalog .photos a {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 20px 0;
  position: relative;
}
.detail_catalog .photos a img {
  display: inline-block;
  max-width: 100%;
  border-radius: 10px;
}
.detail_catalog .photos a:before {
  content: "";
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -10px;
  left: -10px;
  border: 1px solid #d7345e;
  border-radius: 10px;
}
.detail_catalog .photos a:after {
  content: "";
  display: none;
  width: 46px;
  height: 46px;
  background: url("../images/icon_hot.svg") #d7345e no-repeat center center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -23px;
  margin-top: -23px;
}
.detail_catalog .photos a:hover:before,
.detail_catalog .photos a:hover:after {
  display: block;
}
.detail_catalog .photos a:hover img {
  filter: blur(2px);
}
.form {
  width: 400px;
  margin: 0 auto;
}
.form .title {
  text-align: center;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 20px;
}
.form label {
  display: block;
  margin-bottom: 20px;
  position: relative;
}
.form label:last-child {
  margin: 0;
}
.form label.hide {
  display: none;
}
.form label > span {
  display: none;
  font-size: 12px;
  line-height: 15px;
  margin-bottom: 5px;
}
.form label.label_filename > span {
  display: block;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="number"],
.form input[type="date"],
.form select,
.form textarea {
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #9b9b9b;
  border-radius: 20px;
}
.form input[type="text"],
.form input[type="email"],
.form input[type="password"],
.form input[type="tel"],
.form input[type="number"],
.form input[type="date"],
.form select {
  padding: 0 15px;
  height: 40px;
}
.form textarea {
  padding: 15px;
  resize: vertical;
  height: 140px;
}
.form sup {
  color: #ff2d55;
  font-size: 12px;
}
.form .links {
  padding-top: 10px;
}
.form .links p {
  margin-bottom: 10px;
}
.form .links a {
  text-decoration: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.form .links a:hover {
  border-color: transparent;
}
.form .submit {
  text-align: center;
}
.form.form_cabinet > div {
  margin-bottom: 10px;
}
.form_1 {
  text-align: center;
}
.form_1 .name {
  font-size: 34px;
  line-height: 40px;
  margin-bottom: 10px;
}
.form_1 .announce {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  margin-bottom: 20px;
}
.form_1 .form {
  width: 100%;
}
.form_1 .form label {
  display: inline-block;
  vertical-align: top;
  width: 220px;
  margin: 0 20px 25px 0;
}
.form_1 .form label input {
  border: 0;
}
.lists .item {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.lists_1 .item {
  width: calc(33.33% - 5px);
  margin-bottom: 40px;
  padding-right: 25px;
}
.lists_1 .item .photo,
.lists_1 .item .text {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.lists_1 .item .photo {
  width: 50px;
}
.lists_1 .item .photo img {
  max-width: 100%;
}
.lists_1 .item .text {
  width: calc(100% - 55px);
  padding-left: 15px;
}
.lists_1 .item .text .name {
  font-size: 26px;
  line-height: 30px;
  margin-bottom: 15px;
}
.lists_1 .item .text .announce {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
.gb .item {
  max-width: 920px;
  margin: 0 auto 30px;
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px 120px;
}
.gb .item .photo {
  float: left;
  width: 96px;
  height: 96px;
  background: url("../images/icon_gb.svg") #272727 no-repeat center center;
  border-radius: 50%;
}
.gb .item .text {
  float: right;
  width: calc(100% - 140px);
}
.gb .item .text .top {
  margin-bottom: 15px;
  line-height: 36px;
}
.gb .item .text .name {
  font-size: 26px;
  font-weight: 500;
  float: left;
}
.gb .item .text .model {
  float: right;
  font-size: 14px;
  font-weight: 300;
}
.gb .item .text .model a {
  color: #d7345e;
  text-decoration: none;
  display: inline-block;
  padding-left: 25px;
  margin-left: 15px;
  background: url("../images/icon_girl.svg") no-repeat left center;
  font-weight: 500;
}
.gb .item .text .message {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #1b1b1b;
}
.gb .item .text .date {
  font-size: 12px;
  line-height: 15px;
  color: #929292;
  font-weight: 300;
}
.razdels .item {
  display: inline-block;
  vertical-align: top;
  width: 235px;
  margin: 0 15px 15px 0;
}
.razdels .item a {
  display: block;
  position: relative;
  text-decoration: none;
  border-radius: 25px;
  overflow: hidden;
}
.razdels .item a:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 0.9));
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
.razdels .item a img {
  display: block;
}
.razdels .item a span {
  display: block;
}
.razdels .item a .name {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px;
  font-size: 22px;
  line-height: 25px;
  font-weight: 500;
  z-index: 10;
  box-sizing: border-box;
}
.razdels .item a .count {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 15px;
  background: #d7345e;
  z-index: 10;
}
.razdels_1 .slider {
  float: left;
  width: calc(50% - 15px);
  position: relative;
}
.razdels_1 .slider .owl-carousel {
  position: relative;
  z-index: 10;
}
.razdels_1 .slider .item a {
  position: relative;
  border-radius: 20px;
  overflow: hidden;
  display: block;
}
.razdels_1 .slider .item a img {
  max-width: 100%;
}
.razdels_1 .slider .item a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: linear-gradient(180deg, transparent, rgba(0, 0, 0, 0.8));
}
.razdels_1 .slider .text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 0 30px 30px;
  box-sizing: border-box;
  z-index: 10;
}
.razdels_1 .slider .text .name {
  font-size: 22px;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 15px;
}
.razdels_1 .slider .text .announce {
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
}
.razdels_1 .slider .count {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 14px;
  line-height: 30px;
  padding: 0 10px;
  border-radius: 15px;
  background: #d7345e;
  z-index: 10;
}
.razdels_1 .razdels {
  float: right;
  width: calc(50% - 15px);
  text-align: right;
}
.razdels_1 .razdels .item {
  margin: 0 0 0 15px;
  text-align: left;
  width: calc(33.33% - 20px);
}
.articles .item {
  display: inline-block;
  vertical-align: top;
  width: calc(50% - 40px);
  margin: 0 35px 40px 0;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  max-width: 420px;
}
.articles .item .over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(17, 17, 17, 0) 30%, #111 100%);
}
.articles .item .over .masters {
  position: absolute;
  right: 20px;
  top: 20px;
}
.articles .item .over .masters span {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 20px;
  height: 36px;
  background: url("../images/icon_girl.svg") no-repeat center center;
}
.articles .item .over .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  padding: 30px;
}
.articles .item .over .bottom .left {
  width: calc(100% - 100px);
}
.articles .item .over .bottom .left .name {
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.articles .item .over .bottom .left .name a {
  text-decoration: none;
}
.articles .item .over .bottom .left .name a:hover {
  color: #d7345e;
}
.articles .item .over .bottom .left .announce {
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 10px;
  font-weight: 300;
}
.articles .item .over .bottom .left .buttons div {
  display: inline-block;
  vertical-align: middle;
}
.articles .item .over .bottom .left .buttons div a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 300;
}
.articles .item .over .bottom .left .buttons .order {
  margin-right: 20px;
}
.articles .item .over .bottom .left .buttons .order a {
  border: 1px solid #d7345e;
  border-radius: 17px;
  line-height: 34px;
  text-transform: uppercase;
  padding: 0 20px;
}
.articles .item .over .bottom .left .buttons .order a:hover {
  background: #d7345e;
}
.articles .item .over .bottom .left .buttons .more a {
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.articles .item .over .bottom .left .buttons .more a:hover {
  border-color: transparent;
}
.articles .item .over .bottom .right {
  width: 90px;
}
.articles .item .over .bottom .right .it {
  margin-bottom: 10px;
}
.articles .item .over .bottom .right .it:last-child {
  margin: 0;
}
.articles .item .over .bottom .right .it .nm {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
}
.articles .item .over .bottom .right .it .val {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.page_content_6 .articles {
  text-align: center;
}
.page_content_6 .articles .item {
  margin: 0 20px 40px;
}
.articles_page .sub {
  margin-bottom: 30px;
}
.articles_page .sub ul {
  list-style: none;
}
.articles_page .sub ul li {
  display: inline-block;
  vertical-align: top;
  margin: 0 5px 5px 0;
}
.articles_page .sub ul li a {
  display: inline-block;
  padding: 0 25px;
  font-size: 12px;
  line-height: 34px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  text-decoration: none;
  font-weight: 300;
  text-transform: uppercase;
}
.articles_page .sub ul li a:hover,
.articles_page .sub ul li a.active {
  border-color: #d7345e;
}
.detail_article .programs {
  margin-bottom: 30px;
}
.detail_article .programs .item {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
}
.detail_article .programs .item a {
  display: block;
  padding: 3px 13px 3px 3px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 18px;
  text-decoration: none;
}
.detail_article .programs .item a span {
  display: inline-block;
  vertical-align: top;
}
.detail_article .programs .item a .photo {
  margin-right: 5px;
}
.detail_article .programs .item a .photo img,
.detail_article .programs .item a .photo picture {
  display: block;
  border-radius: 50%;
}
.detail_article .programs .item a .name {
  font-size: 12px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 300;
}
.detail_article .programs .item a:hover,
.detail_article .programs .item a.active {
  border-color: #d7345e;
}
.detail_article .aside {
  float: right;
  width: 280px;
}
.detail_article .section {
  float: left;
  width: calc(100% - 300px);
}
.detail_article .params {
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 25px;
}
.detail_article .params .it .nm,
.detail_article .params .it .val {
  display: inline-block;
  vertical-align: top;
  line-height: 36px;
}
.detail_article .params .it .nm {
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px;
}
.detail_article .params .it .val {
  color: #d7345e;
  font-size: 18px;
  font-weight: 500;
}
.detail_article .params .masters span {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 20px;
  height: 36px;
  background: url("../images/icon_girl.svg") no-repeat center center;
}
.articles_1 {
  max-width: 920px;
  margin: 0 auto;
}
.articles_1 .item {
  background: rgba(255, 255, 255, 0.05);
  border-radius: 25px;
  overflow: hidden;
  max-width: 920px;
  margin: 0 auto 20px;
}
.articles_1 .item .photo {
  float: left;
  width: 290px;
}
.articles_1 .item .photo a {
  display: block;
}
.articles_1 .item .photo a img {
  display: block;
  max-width: 100%;
}
.articles_1 .item .text {
  float: right;
  width: calc(100% - 290px);
  padding: 30px 50px;
  box-sizing: border-box;
}
.articles_1 .item .text .top {
  margin-bottom: 10px;
}
.articles_1 .item .text .name {
  font-size: 26px;
  line-height: 36px;
  font-weight: 500;
  float: left;
  width: calc(100% - 70px);
}
.articles_1 .item .text .name a {
  text-decoration: none;
}
.articles_1 .item .text .name a:hover {
  color: #d7345e;
}
.articles_1 .item .text .masters {
  float: right;
  width: 70px;
  text-align: right;
}
.articles_1 .item .text .masters span {
  display: inline-block;
  vertical-align: top;
  margin-left: 10px;
  width: 20px;
  height: 36px;
  background: url("../images/icon_girl.svg") no-repeat center center;
}
.articles_1 .item .text .announce {
  font-size: 16px;
  line-height: 30px;
  font-weight: 300;
  margin-bottom: 25px;
}
.articles_1 .item .text .features {
  background: rgba(255, 45, 85, 0.1);
  border-radius: 10px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 300;
  padding: 5px 20px;
  margin-bottom: 25px;
}
.articles_1 .item .text .buttons {
  padding-bottom: 25px;
  margin-bottom: 25px;
  border-bottom: 1px solid #1b1b1b;
}
.articles_1 .item .text .buttons div {
  display: inline-block;
  vertical-align: middle;
}
.articles_1 .item .text .buttons div a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.articles_1 .item .text .buttons .order {
  margin-right: 30px;
}
.articles_1 .item .text .buttons .order a {
  border: 1px solid #d7345e;
  border-radius: 20px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0 30px;
}
.articles_1 .item .text .buttons .order a:hover {
  background: #d7345e;
}
.articles_1 .item .text .buttons .more a {
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.articles_1 .item .text .buttons .more a:hover {
  border-color: transparent;
}
.articles_1 .item .text .bottom {
  font-size: 14px;
  line-height: 20px;
  color: #d7345e;
}
.articles_1 .item .text .bottom div {
  display: inline-block;
  vertical-align: top;
  padding-left: 30px;
  background-position: center left;
  background-repeat: no-repeat;
}
.articles_1 .item .text .bottom .duration {
  margin-right: 30px;
  background-image: url("../images/icon_duration.svg");
}
.articles_1 .item .text .bottom .price {
  background-image: url("../images/icon_price.svg");
}
.articles_1 .owl-item .item {
  display: block;
  margin: 0;
}
.articles_2 .table .tr .td,
.articles_2 .table .tr .th {
  width: 160px;
}
.articles_2 .table .tr .td:first-child,
.articles_2 .table .tr .th:first-child {
  width: 40px;
}
.articles_2 .table .tr .td:nth-child(3),
.articles_2 .table .tr .th:nth-child(3) {
  width: auto;
}
.articles_4 .table .tr .td:first-child,
.articles_4 .table .tr .th:first-child,
.articles_4 .table .tr .td:last-child,
.articles_4 .table .tr .th:last-child {
  width: 160px;
}
.articles_2 .table,
.articles_4 .table {
  display: table;
  width: 100%;
  border-collapse: collapse;
}
.articles_2 .table .tr,
.articles_4 .table .tr {
  display: table-row;
}
.articles_2 .table .tr .td,
.articles_4 .table .tr .td,
.articles_2 .table .tr .th,
.articles_4 .table .tr .th {
  display: table-cell;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #2b2b2b;
}
.articles_2 .table .tr .th,
.articles_4 .table .tr .th {
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.articles_2 .table .tr.active .opened,
.articles_4 .table .tr.active .opened {
  display: block;
}
.articles_2 .table .tr.active .closed,
.articles_4 .table .tr.active .closed {
  display: none;
}
.articles_2 .table .tr.active .open,
.articles_4 .table .tr.active .open {
  background-image: url("../images/icon_minus.svg");
}
.articles_2 .opened,
.articles_4 .opened {
  display: none;
}
.articles_2 .open,
.articles_4 .open {
  background: url("../images/icon_plus.svg") no-repeat center center;
  width: 35px;
  height: 35px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  cursor: pointer;
}
.articles_2 .photo a,
.articles_4 .photo a {
  display: inline-block;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.articles_2 .photo a img,
.articles_4 .photo a img {
  display: block;
  max-width: 100%;
}
.articles_2 .photo a:after,
.articles_4 .photo a:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, transparent, #000);
  z-index: 5;
}
.articles_2 .name,
.articles_4 .name {
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
.articles_2 .name a,
.articles_4 .name a {
  text-decoration: none;
}
.articles_2 .name.opened,
.articles_4 .name.opened {
  margin-bottom: 10px;
}
.articles_2 .name.opened a,
.articles_4 .name.opened a {
  color: #d7345e;
}
.articles_2 .announce,
.articles_4 .announce {
  font-size: 16px;
  line-height: 20px;
  font-weight: 300;
}
.articles_2 .buttons,
.articles_4 .buttons {
  white-space: nowrap;
  padding-top: 15px;
}
.articles_2 .buttons div,
.articles_4 .buttons div {
  display: inline-block;
  vertical-align: middle;
}
.articles_2 .buttons div a,
.articles_4 .buttons div a {
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
.articles_2 .buttons .order,
.articles_4 .buttons .order {
  margin-right: 30px;
}
.articles_2 .buttons .order a,
.articles_4 .buttons .order a {
  border: 1px solid #d7345e;
  border-radius: 20px;
  line-height: 38px;
  text-transform: uppercase;
  padding: 0 30px;
}
.articles_2 .buttons .order a:hover,
.articles_4 .buttons .order a:hover {
  background: #d7345e;
}
.articles_2 .buttons .more a,
.articles_4 .buttons .more a {
  line-height: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.articles_2 .buttons .more a:hover,
.articles_4 .buttons .more a:hover {
  border-color: transparent;
}
.articles_2 .masters,
.articles_4 .masters {
  white-space: nowrap;
}
.articles_2 .masters span,
.articles_4 .masters span {
  display: inline-block;
  vertical-align: top;
  margin-right: 10px;
  width: 20px;
  height: 36px;
  background: url("../images/icon_girl.svg") no-repeat center center;
}
.articles_2 .duration,
.articles_4 .duration,
.articles_2 .price,
.articles_4 .price {
  white-space: nowrap;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
}
.articles_3 {
  margin-bottom: 20px;
}
.articles_3 .item {
  display: inline-block;
  vertical-align: top;
  width: calc(33.33% - 35px);
  margin: 0 30px 40px 0;
}
.articles_3 .item .photo {
  width: 160px;
  float: left;
}
.articles_3 .item .photo a {
  display: block;
  border: 1px solid #d7345e;
  box-sizing: border-box;
  border-radius: 20px;
  overflow: hidden;
}
.articles_3 .item .photo a img {
  display: block;
}
.articles_3 .item .photo a:hover {
  border-color: #fff;
}
.articles_3 .item .text {
  float: right;
  width: calc(100% - 180px);
  min-height: 180px;
  position: relative;
}
.articles_3 .item .text .top .name {
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}
.articles_3 .item .text .top .name a {
  color: #d7345e;
  text-decoration: none;
}
.articles_3 .item .text .top .name a:hover {
  color: #fff;
}
.articles_3 .item .text .top .announce {
  font-size: 14px;
  line-height: 16px;
  font-weight: 300;
}
.articles_3 .item .text .bottom {
  position: absolute;
  bottom: 0;
  left: 0;
}
.articles_3 .item .text .bottom .it {
  display: inline-block;
  vertical-align: top;
}
.articles_3 .item .text .bottom .it:last-child {
  margin: 0;
}
.articles_3 .item .text .bottom .it .nm {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 5px;
  font-weight: 300;
}
.articles_3 .item .text .bottom .it .val {
  font-size: 18px;
  line-height: 20px;
  font-weight: 500;
}
.articles_3 .item .text .bottom .price {
  margin-right: 15px;
}
.articles_3 + .article {
  text-align: center;
}
.gallery ul {
  list-style: none;
}
.gallery ul li {
  float: left;
  width: 220px;
  height: 220px;
  overflow: hidden;
  position: relative;
  margin: 0 15px 15px 0;
}
.gallery ul li a {
  display: block;
}
.gallery ul li a span {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  font-size: 70px;
  line-height: 220px;
  text-align: center;
}
.gallery ul li a span i {
  color: #fff;
}
.gallery ul li a:hover span {
  display: block;
}
.gallery ul li:nth-child(5n) {
  margin-right: 0px;
}
.photos_1 .slider,
.photos_1 .thumbs {
  width: calc(50% - 25px);
}
.photos_1 .slider {
  float: left;
}
.photos_1 .slider a {
  display: block;
  position: relative;
  border-radius: 20px;
  overflow: hidden;
}
.photos_1 .slider a span {
  position: absolute;
  bottom: 40px;
  left: 40px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
.photos_1 .thumbs {
  float: right;
}
.photos_1 .thumbs .owl-thumbs {
  margin-bottom: 20px;
}
.photos_1 .thumbs .owl-thumbs .owl-thumb-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 15px 15px 0;
  position: relative;
  cursor: pointer;
  width: calc(33.33% - 20px);
}
.photos_1 .thumbs .owl-thumbs .owl-thumb-item img {
  border-radius: 10px;
  max-width: 100%;
}
.photos_1 .thumbs .owl-thumbs .owl-thumb-item.active:after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: -10px;
  left: -10px;
  border: 1px solid #d7345e;
  border-radius: 10px;
}
.photos_1 .thumbs .all {
  text-align: left;
}
.user_nav {
  margin-bottom: 35px;
}
.user_nav nav {
  border-bottom: 2px solid #e9e9e9;
}
.user_nav nav ul {
  list-style: none;
}
.user_nav nav ul li {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
  font-size: 20px;
  line-height: 50px;
}
.user_nav nav ul li a {
  color: #fff;
  text-decoration: none;
  display: block;
  position: relative;
}
.user_nav nav ul li a:after {
  content: "";
  display: none;
  width: 100%;
  height: 2px;
  background: #d7345e;
  position: absolute;
  bottom: -2px;
  left: 0;
}
.user_nav nav ul li a:hover,
.user_nav nav ul li a.active {
  color: #d7345e;
}
.user_nav nav ul li a.active {
  font-weight: 700;
}
.user_nav nav ul li a.active:after {
  display: block;
}
.slider .item {
  position: relative;
}
.slider .item .on {
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
}
.slider .item .on .name {
  font-size: 54px;
  line-height: 55px;
  font-weight: 500;
  margin-bottom: 20px;
}
.slider .item .on .announce {
  font-size: 25px;
  line-height: 35px;
  margin-bottom: 30px;
}
.block_form_inline {
  background-size: auto;
  padding: 200px 0;
}
.block_5 {
  display: none;
}
.block_7 {
  background-color: #000;
  background-size: auto;
  background-blend-mode: luminosity;
}
.block + .page_content {
  padding-top: 50px;
}
.page_content_1 .wrap {
  box-sizing: border-box;
}
.vacancy_banner {
  border: 1px solid #560d20;
  margin: 15px 0 50px;
  height: 290px;
  background-repeat: no-repeat;
  border-radius: 15px;
  background-position-x: right;
  padding-left: 50px;
}
.vacancy_banner .vacancy_big_text {
  margin-top: 60px;
  font-size: 24px;
  font-weight: bold;
}
.vacancy_banner .vacancy_small-text {
  margin-top: 25px;
  font-size: 20px;
  line-height: 22px;
}
.vacancy_banner .vacancy_button {
  margin-top: 35px;
}
.vacancy_banner_1 {
  background-image: url("/upload/image/vak1_(1).png");
}
.vacancy_banner_2 {
  background-image: url("../../upload/image/vak2.png");
}
@media (max-width: 1500px) {
  header .center {
    margin-left: 20px;
  }
  header nav ul li {
    margin-left: 20px;
  }
}
.adult_mask {
  z-index: 10000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.9);
  text-align: center;
}
.adult_modal {
  display: inline-block;
  width: 100%;
  max-width: 500px;
  padding: 40px;
  margin-top: 10%;
  color: #fff;
}
.adult_modal .title {
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}
.adult_modal .announce {
  font-size: 18px;
  line-height: 25px;
  margin-bottom: 30px;
}
.adult_modal .buttons a {
  display: inline-block;
  vertical-align: top;
  line-height: 40px;
  padding: 0 20px;
  margin: 0 10px 10px;
  color: #fff;
  text-decoration: none;
  border: 3px solid #fff;
}
.adult_modal .buttons a.no {
  border-color: transparent;
}
.adult_modal .buttons a:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}
.contacts_block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  text-align: center;
}
